<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>申请列表</title>
</head>
<body>
<section layout:fragment="header">
    <!--<h1>
        Dashboard
        <small>Control panel</small>
    </h1>-->
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">申请列表</li>
    </ol>
</section>
<div layout:fragment="content">

</div>
</body>
</html>