<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">菜单列表</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-edit"></i>
                <span>申请列表</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-red">3</small>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/apply"><i class="fa fa-list-ol"></i>待处理</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>报表</span>
                <span class="pull-right-container">
                <!--<i class="fa fa-angle-left pull-right"></i>-->
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cog"></i> <span>系统设置</span>
                <span class="pull-right-container">
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->